[Desktop Entry]
Terminal=false
Type=Application

Name=ONI
Icon=klei-oni.png
Categories=KDE;Game;Qt;
Comment=Oxygen Not Included

# -> OxygenNotIncluded/run.sh
# Ignored if not found in $PATH
TryExec=oxygen-not-included
